.header {
  border: 3px solid black;
  text-align: center;
}

.team {
  padding: 1%;
  border: 3px solid blue;
  display: flex;
  border: 3px solid blue;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.manager {
  padding: 1%;
  border: 3px solid lime;
}
.manager h2{
  text-align: center;
  border-bottom: 3px dashed black;
}
.manager h3{
    text-align: center;
}
.engineer {
  padding: 1%;
  border: 3px solid yellow;
}
.engineer h2{
  text-align: center;
  border-bottom: 3px dashed black;
}
.engineer h3{
    text-align: center;
}
.intern {
  padding: 1%;
  border: 3px solid pink;
}
.intern h2{
  text-align: center;
  border-bottom: 3px dashed black;
}
.intern h3{
    text-align: center;
}

.footer {
  border: 3px solid red;
  text-align: center;
}
